[Unit]
Description=TimeMachine a differential backup system

[Service]
ExecStart=/usr/local/bin/timeMachineCLI
Type=simple


[Install]
WantedBy=default.target

